@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1020px) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }

  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softRed;
  }
}

@media (max-width: 455px) {
  form {
    padding: 20px !important;
    width: 370px !important;
  }
}

@media (max-width: 375px) {
  /*-- Buttons Continer --*/

  .container-buttons {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .container-buttons a {
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  form {
    padding: 10px !important;
    width: 280px !important;
  }
  form input {
    padding: 10px;
  }
  form .close {
    background: #fb4;
  }
}

/* HAMBURGER MENU */
.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.5s;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #121212;
  transform: rotate(0);
  transition: 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}
